@import url("./mocha.css");
/* red underlines errors are not an issue for waybar to work */

/* ============================================
   GLOBAL STYLES
   ============================================ */
* {
    border: 0px;
    border-radius: 0px;
    font-family: NotoSans Nerd Font;
    font-size: 16px;
    min-height: 0;
}

/* ============================================
   WAYBAR WINDOW
   ============================================ */
window#waybar {
    /* background-color: rgba(0, 0, 0, 0); */
    background-color: @base;
    color: @text;
    margin: 0px 0px 0px 0px; /* top right bottom left - set all to 0 */
    border: 0px;
    transition-duration: 1s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.empty #window {
    background-color: transparent;
}

/* ============================================
   TOOLTIPS
   ============================================ */
tooltip {
    background-color: @base;
    border: 5px solid @surface1;
}

tooltip label {
    color: @text;
}

/* ============================================
   BUTTONS (GENERAL)
   ============================================ */
button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0px;
}

button:hover {
    background: inherit;
}

/* ============================================
   WORKSPACES Module
   ============================================ */
#workspaces {
    margin: 0px 0px;
    /* backgrousnd-color: @background; */
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 3px;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 3px;
}

#workspaces button {
    margin: 2px 0px; /* Y AXIS x AIXIS*/
    padding: 0 6px;
    color: @lavender; 
    background-color: @crust;
}

#workspaces button:hover {
    background-color: @sapphire;
}

#workspaces button.focused {
    background-color: @blue;
}

#workspaces button.active {
    color: @crust; 
    background-color: @lavender;
}

#workspaces button.urgent {
    color: @crust;
    background-color: @red;
}

/* ============================================
   WINDOW TITLE
   ============================================ */
#window {
    padding: 0 8px;
    background-color: @mantle; 
    color: @lavender; 
    margin: 3px 0px;
}

/* ============================================
   MODULES (SHARED STYLES)
   ============================================ */
#mpris,
#custom-weather,
#clock,
#language,
#pulseaudio,
#bluetooth,
#network,
#memory,
#cpu,
#temperature,
#disk,
#custom-kernel,
#idle_inhibitor,
#scratchpad,
#mode,
#tray,
#custom-power,
#power-profiles-daemon,
#custom-power-profile {
    /*configuring the lines belows affects all the modules right*/
    margin: 3px 0px ;
    padding: 0 10px;
    color: @text;
    background-color: @mantle;
}

/* ============================================
   INDIVIDUAL MODULES
   uncomment a module to over write shared styling
   ============================================ */
/* #mode {
    background-color: @background;
    box-shadow: inset 0 -2px @foreground;
    color: @color2;
} */

/* #custom-kernel {
    margin: 3px 0px;
    color: @color2;
    background-color: @background;
} */

#clock {
    margin: 3px 0px;
    color: @crust;
    background-color: @lavender;
}

#cpu {
    color: @peach;
}

#memory {
    color: @green;
} 

#disk {
    color: @teal;
}

/* #network {
    margin: 3px 0px;
    color: @color2;
    background-color: @background;
} */
/* 
#network.disconnected {
    margin: 3px 0px;
    color: @color1;
    background-color: @background;
} */

/* #bluetooth {
    margin: 3px 0px;
    color: @color2;
    background-color: @background;
    min-width: 40px;
} */

#pulseaudio {
    color: @mauve;
}

/* #pulseaudio.muted {
    margin: 3px 0px;
    color: @color1;
    background-color: @background;
} */

/* #temperature {
    margin: 3px 0px;
    color: @color2;
    background-color: @background;
    min-width: 37px;
} */

/* #temperature.critical {
    margin: 3px 0px;
    color: @color1;
    background-color: @background;
    min-width: 37px;
} */

/* #mpris {
    margin: 3px 0px;
    color: @background;
    background-color: @foreground;
} */

#tray {
    margin-right : 3px;
}
/* 
#tray > .passive {
    -gtk-icon-effect: dim;
} */

/* #tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @color0;
} */

/* #custom-power {
    margin: 3px 0px;
    color: @color2;
    background-color: @background;
    border-radius: 0px;
} */

/* #custom-power:hover {
    margin: 3px 0px;
    color: @color0;
    background-color: @color11;
} */

/* ============================================
   POWER PROFILE DAEMON (performace- balance-saver mode)
   ============================================ */
#power-profiles-daemon {
    color: @sky;
}
/* 
#power-profiles-daemon.performance {
    margin: 3px 0px;
    color: @color1;
    background-color: @color0;
}

#power-profiles-daemon.balanced {
    color: @color10;
    background-color: @color0;
}

#power-profiles-daemon.power-saver {
    color: @color4;
    background-color: @color0;
}

#power-profiles-daemon:hover {
    color: @color0;
    background-color: @color11;
} */


/* ============================================
   ANIMATIONS & EFFECTS
   ============================================ */
@keyframes blink {
    to {
        background-color: @mantle;
        color: @text;
    }
}

label:focus {
    background-color: @mantle;
}
