@import url("/home/fahadullah/.config/wofi/colors.css");


* {
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 18px;
}


window {
/* border:3px solid @lavender; */
background-color: @lavender;
border-radius : 5px
}

#input {
/* search here part */
margin: 15px;
border: 1px solid @base;
background-color: @base;
border-radius: 5px;
color : @yellow 
}

/* inned box and scroll needes to be same color */
#scroll {
margin: 10px;
border: 2px solid @crust;
background-color: @crust;
border-radius : 5px
}
#inner-box {
/* margin: 5px; */
border: 2px solid @crust;
background-color: @crust;
}



 
#outer-box {
margin: 2px;
/* border: 1px solid @crust; */
background-color: @crust;
border-radius : 5px 
}


#text {
margin: 20px;
color : @text
} 
#text:selected {
color : @yellow
} 


#entry:selected {
/* color the entry box that is selected */
background-color: @base;
border-radius: 5px
}

#expander-box {
    margin: 15px;
    background-color: @surface0;
    border-radius : 5px
    
}
